fastapi
uvicorn
opencv-python
numpy
torch
torchvision
torchaudio
ultralytics
scipy
filterpy
lap
python-multipart
networkx
scikit-learn
pillow
sse-starlette
httpx
fpdf2
matplotlib
deep-sort-realtime
torch-geometric